*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0,0,0,.1)), url("image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 10px solid transparent;
    transition: border-color .3s;

}

body:hover {
    border-color:#fff;
}

body:hover > #mouse {
    border-color: #fff;
    border-width: 2000px;
    transition: border-color .3s, border-width 1s .4s;
}

#mouse {
    box-sizing: content-box;
    width: 120px;
    height: 120px;
    background-color: transparent;
    border-radius: 50%;
    border: 10px solid transparent;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    transition: border-color .3s, border-width .1s;
}